doctype html
html
  head
    title ISIS-3710 Web development, CSS
    meta(charset='utf-8')
    meta(name='author', content='John Alexis Guerra Gomez')
    meta(name='description', content='ISIS-3710 Web development, los Andes University')
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")
    //- link(href='../lib/css/reveal.css', rel='stylesheet')
    //- link(href='../lib/css/theme/simple.css', rel='stylesheet')
    //- link(href='../lib/css/zenburn.css', rel='stylesheet')
    link(href='../css/style.css', rel='stylesheet')
    //- Printing and PDF exports -->
    script.
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? '../lib/css/print/pdf.css' : '../lib/css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    //- script(src='../lib/js/d3.min.js')
  body


    .reveal
      .slides

        section#title
          h2 CSS
          img.logo(src="../img/universidad_de_los_andes_logo@2x.png" alt="Los Andes University")

          br
          p.small
            a(href='http://johnguerra.co/', target='_blank') #[strong John Alexis Guerra Gómez]

          p.tiny.email ja.guerrag[at}uniandes.edu.co |
            a(href='http://twitter.com/duto_guerra' , target='_blank')  @duto_guerra
            br


            //- br
            //- span ja.guerrag en uniandes.edu.co
            //- br
            //- a(href='http://twitter.com/duto_guerra') @duto_guerra
          //- p.small Use
          //-   strong  spacebar
          //-   |  and the arrows to advance slides
          br
          p.tiny Slides:
            a(href='http://johnguerra.co/lectures/webDevelopment_spring2017/03_CSS/', target='_blank') http://johnguerra.co/lectures/webDevelopment_spring2017/03_CSS/
          p.tiny Class page:
            a(href='http://johnguerra.co/classes/webDevelopment_spring_2017/', target='_blank') http://johnguerra.co/classes/webDevelopment_spring_2017/


        //- convert -density 150 -depth 8 -quality 85 ~/Dropbox/documentos/2016/andes/visual_analytics/lectures_tamara/05_rules-artery.pdf ./05_rules-artery.png
        section
          section
            h2 What did we learn last time?

          section
            h2 Readings discussion
            ul
              li.fragment questions?

          section
            h2 Random Questions
            ul
              li.fragment How do you style a class?
              li.fragment How do you style a class only inside a link?
              li.fragment What should you use id or class?
              li.fragment How do you style an element inline?
              li.fragment Why would you add a rgba after a rgb property?
              li.fragment What is Google Fonts?

        section

          //- Do exercise with many divs
          //- Explain the box model

          section
            h2 When to use pxs, ems and %?
            ul
              li.fragment #[strong pxs] fixed. Not dependent on screen size.
              li.fragment #[strong ems] Relative to font-size. Good for fonts on responsive designs.
              li.fragment #[strong %] Relative to height/width. Good for divs on responsive designs.

          section
            h2 Margins
            img.blocks(src="images/margins_and_padding.png")

          section
            h2 Z-index
            p Doesn't work with SVG 😞

          section
            h2 Gradients
            p Search online for generators. e.g. #[a(href="http://www.colorzilla.com/gradient-editor/") Colorzilla gradient editor]

          section
            h2 Group Exercise
            p Let's continue visualizing #[a(href="images/tweets.json") tweets] collected for the class

        section
          section
            h2 Exercise
            p Improve the HTML of your homepage with some CSS
            ul
              li.fragment Share your results

        section
          section
            h2 Required Readings Next session
            ul
              li.fragment
                a(href="http://getbootstrap.com/getting-started/" target="_blank") http://getbootstrap.com/getting-started/
              li.fragment (Optional)
                a(href="https://www.codecademy.com/learn/make-a-website", target="_blank") https://www.codecademy.com/learn/make-a-website




    script(src='../lib/js/head.min.js')
    script(src='../lib/js/reveal.js')

    script.
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        rollingLinks: true,
        transition: "convex",
        //- width: "90%",
        //- height: 1.0,
        dependencies: [
          // Cross-browser shim that fully implements classList - https://github.com/eligrey/classList.js/
          { src: '../lib/js/classList.js', condition: function() { return !document.body.classList; } },

          // Interpret Markdown in <section> elements
          { src: '../plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '../plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },

          // Syntax highlight for <code> elements
          { src: '../plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },

          // Zoom in and out with Alt+click
          { src: '../plugin/zoom-js/zoom.js', async: true },

          // Speaker notes
          { src: '../plugin/notes/notes.js', async: true },

          //- // Remote control your reveal.js presentation using a touch device
          //- { src: '../plugin/remotes/remotes.js', async: true },

          //- // MathJax
          //- { src: '../plugin/math/math.js', async: true }
        ]
      });
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-72531610-1', 'auto');
      ga('send', 'pageview');



